<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896355687998-r2lt7k9q1ofun9lab44r5vmie84f0th0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896355687998-r2lt7k9q1ofun9lab44r5vmie84f0th0</string>
	<key>API_KEY</key>
	<string>AIzaSyDUzuyOKdF9dI7B8vvMrQkf3kFSP05gGDc</string>
	<key>GCM_SENDER_ID</key>
	<string>896355687998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easyVahan.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>easyvahan-b6dbf</string>
	<key>STORAGE_BUCKET</key>
	<string>easyvahan-b6dbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896355687998:ios:495de4013a8ce7d5e1bb6f</string>
</dict>
</plist>